*{
	box-sizing: border-box;
	font-family: futura, sans;
}

hr {
	background-color: black;
}

h3 {
	text-align: center;
}

#summer {
	color: rgb(205,92,92);
}

nav {
	text-align: center;
}

button {
	color: white;
	font-weight: bold;
	background-color: rgb(205,92,92);
	border-bottom: none;
	display: inline-block;
	width: 100px;
	height: 35px;
	margin: 11px;
	border: 1px;
}

.search {
	display: inline-block;
	margin-top: 15px;
	font-weight: bold;
}